@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body{
  background-color: #F2F2F2;
  font-family: 'Noto Sans JP', sans-serif;
}

.search-id{
  display: flex;
  margin:auto;
  width:450px;
  margin-top:25px;
  padding:25px 30px 25px 25px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size:18px;
  border:none;
  border-radius:6px;
}

.player{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pl-item{
  width:450px;
  margin-top:30px;
  border-radius:6px;
  background-color:#fff;
}

.pl-item h2 {
  display:flex;
  justify-content: center;
  padding:10px;
}

.spans{
  display: flex;
  justify-content: space-between;
}
.spans span {
  padding:20px;
}

.club {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  border-top:1px solid#ddd;
}
.club span{
  padding:20px;
  width:50%;
  border:1px solid#ddd;
  border-top:none;
}
.club span:nth-child(n+1){
  border-left:none;
}
.club span:nth-child(2n){
  border-right:none;
}
.image{
  padding:50px 90px 10px;
  width:100%;
}
.title {
  font-size:35px;
  text-align: center;
  margin-top:50px;
}
